.title-section {}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    backdrop-filter: blur(4px);
    width: 100%;
    height: 50px;
    padding: 0 15px;
    z-index: 10;
}

nav>header {
    font-weight: 600;
    font-size: 20px;
}

.typing {
    font-size: 35px;
    font-weight: 600;
    user-select: none;
}

.cursor {
    background-color: white;
    color: transparent;
    width: 2px;
    height: 50px;
    font-size: 32px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.list-table {
    display: flex;
    flex-direction: row;
}

.list-table>.left {
    display: flex;
    text-align: right;
    padding-right: 2px;
}

.list-table>.right {
    display: flex;
    text-align: left;
    padding-left: 2px;
}

.img-table {
    display: block;
}

.img-table>img {
    width: 50px;
}

/* Fade-Up */
.fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.7s ease-out;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}

/* Projects */
.projects-section>h2 {
    margin-bottom: 40px;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 40px;
    font-weight: 600;
}

.project-list {
    width: 450;
    padding: 25px 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.project-item {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(91, 97, 156, 0.096);
    background: blur(5px);
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.project-item:hover {
    transform: scale(1.03);
}

.project-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    border: none;
}

.project-name {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

/* Projects Anm */
.project-item {
    opacity: 0;
    transform: translateX(0);
}

.project-item.left.show {
    animation: slideInFromLeft 0.8s ease-out forwards;
}

.project-item.right.show {
    animation: slideInFromRight 0.8s ease-out forwards;
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-80px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(80px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* Contacts */
.contact-section {
    padding: 80px 20px;
    color: #ffffff;
    text-align: center;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 40px;
    font-weight: 600;
}

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    font-size: 1.1rem;
    transition: background 0.3s ease;
}

.contact-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.contact-label {
    font-weight: 600;
    color: #ffffff;
    /* 포인트 컬러 */
}

.contact-value {
    color: #ffffff;
}

.skill-table {
    gap: 20px;
}

.skill-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.skill-item {
    background-color: white;
    border-radius: 8px;
    width: 124px;
    height: 48px;
    display: flex;
}

.skill-item-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.skill-item-header>img {
    width: 30px;
}

.skill-item-content {
    display: flex;
    align-items: center;
    color: black;
    font-size: 20px;
}

/* Sec 1 */
.frame {
    width: 100%;
    height: 100%;
}

.frame-img {
    position: absolute;
    width: 80%;
    height: 80%;
    background-image: url(/img/Rectangle-3.png);
    background-size: 100% 100%;
    z-index: -1;
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.frame .overlap-group {}

.frame .ellipse {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    object-fit: cover;
}

.frame .text-wrapper {
    margin-top: 5px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 55px;
    letter-spacing: -1.5px;
    line-height: normal;
    text-align: center;
}

.frame .p {
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #e1e1e1;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
}

/* Sec 4 */
.button-group {
    display: flex;
    gap: 12px;
    /* 배경색 이미지 참고 */
    padding: 20px;
}

.pill {
    padding: 8px 20px;
    border: 1px solid #444;
    border-radius: 9999px;
    background: transparent;
    color: #ccc;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pill:hover {
    background: #3a3d41;
}

.pill.selected {
    background-color: #3a3d41;
    color: white;
    border: none;
}

.projects-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
    padding: 0 40px;
    place-items: center;
    justify-content: center;
}

.project-card {
    width: 280px;
    background-color: #1e1e1e;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-thumbnail {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: transform 0.3s ease;
    transform-origin: center center;
}

.project-card:hover .project-thumbnail {
    transform: scale(1.07);
}

.project-info {
    padding: 12px 16px 40px 16px;
    position: relative;
}

.project-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}

.project-tags {
    font-size: 13px;
    color: #aaa;
}

.project-link {
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 32px;
    height: 32px;
    background-color: #3d8bfd;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.project-link:hover {
    background-color: #1c70df;
}

@media (max-width: 470px) {
    body {
        font-size: 20px;
    }

    p, .left, .right {
        font-size: 0.8em;
    }

    .contact-item {
        width: 270px;
        font-size: 0.8em;
    }

    .text-wrapper {
        
        font-size: 1.8em
    }

    .grad-text {
        font-size: 1.4em;
    }

    .h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.2em;
    }
}